.agenda {
	&__description {
		border-bottom: 1px solid $grey;
	}
	&__card {
		&--right {
			margin-right: 0.5rem;
		}
		&--left {
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.list-group-item {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}
}
