<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend - Clique Studios</title>
</head>

<body class="page-template-template-{{htmlWebpackPlugin.options.pagename}}{{#if additionalClasses}} {{ additionalClasses }}{{/if}}">