<aside class="col-12 col-md-3 col-lg-2 sidebar-content" id="sidebar" data-collapsed="false">
    <nav class="sticky-md-top">
        <div class="flex-column pt-5">
            <h3 class="navbar-brand">Team List</h3>
            <div class="list-group list-group-flush">
                <p class="list-group-item nav-item">
                    <a href="#" class="nav-link">Engineering Monthly Meeting</a>
                </p>
                <p class="list-group-item nav-item">
                    <a href="#" class="nav-link">Decoupled WordPress</a>
                </p>
                <p class="list-group-item nav-item">
                    <a href="#" class="nav-link">Decoupled React</a>
                </p>
            </div>
        </div>
    </nav>
    {{> ../modules/_sidebar-toggle id="sidebar-toggler"}}
</aside>