.main-navigation {
	width: 100%;
}

.profile-nav {
	@media only screen and (max-width: $max-breakpoint-lg) {
		margin-left: auto;
	}
	.dropdown-menu {
		&.show {
			@media only screen and (max-width: $max-breakpoint-lg) {
				position: absolute;
				right: 0;
				left: auto;
			}
		}
	}
}

.navbar-toggler {
	margin-right: 1rem;
}
